.navbar-brand {
 width: 150px;
 height: 100px;
}

.online-status {
  position: fixed;
  top: 10px;
  right: 30px;
  color: rgb(0, 0, 0);
  font-size: 10px;
  border-radius: 5px;
}

.navbar {
 background-color: rgba(255, 255, 255, 0) !important;
 opacity: 100%;
}

.nav-link {
 color: white!important;
 background-color: hsl(4, 100%, 49%);
 padding: 10px 20px !important;
}

.small-font {
 font-size: 20px;
}

.small-font:hover {
 background-color: #698f96;
 color: aliceblue !important;
 font-weight: bolder !important;
}

.navbar-toggler{
 background-color: #ff0000;
 
}

.navbar-toggler-icon{
background-image: url(../../assets/download.svg) !important;
}

.mobile-sidebar {
 display: none;
}

.show {
 display: flex;
 flex-wrap: wrap;
 justify-content: end;
 flex-direction: column;
 align-items: end;
 background-color: white;
}

.mobile-logout {
 display: none;
}

@media (max-width: 845px) {

  .online-status {
    position: fixed;
    top: 10px;
    right: 30px;
    color: rgb(255, 255, 255);
    font-size: 10px;
    border-radius: 5px;
  }

 .navbar {
  background-color: #333 !important;
  padding: 0%;
 
 }

.container-fluid-mobile {
  display: flex;
  width: 100vw;
  justify-content: space-between;
}

.nav-link-mobile {
  width: 75px !important;
}


.navbar-nav-mobile {
display: flex;
flex-direction: row;
}

.mobile-sidebar {
display: flex;
height: 100px;
flex-wrap: wrap;
}

.mobile-sidebar a {
 display: flex;
color: white;
text-decoration: none;
height: 100%;
justify-content: center;
align-items: center;
font-size: 12px;
width: 100px;

 }

.mobile-sidebar li {
 display: flex;
 background-color: #333 !important;
 height: 30px;
align-items: center;
justify-content: center;
height: 100%;
}

.nav-item {
 width: 100%;
 background-color:#333;

}

.nav-item button {
 width: 100%;
 height: 100%;
 margin: 0%;
 padding: 0%;
 background-color: #333;
 font-size: 12px;
}

.navbar-brand {
 width: 75px;
}

.navbar-collapse {
 display: flex;
 flex-basis: auto;
 flex-grow: 0;
 flex-wrap: wrap;

}

.navbar-text {
display: none;
}


.nav-link{
 font-size: 12px;
 padding: 0px !important;
 margin: 0px !important;
}



.logout-button {
 display: flex;
 width: 100px;

}

}

@media (max-width: 615px) {



.container-fluid {
  display: flex;
  flex-wrap: wrap;
 padding: 0px;
 margin: 0px;
}

.container-fluid-mobile {
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
 }

.navbar {
  display: flex !important;
  justify-content: space-between !important;
}



.navbar-brand {
 height: 75px;
 margin: 0px;
 width: 100%;
}

.navbar-brand-mobile {
    height: 75px;
    margin: 0px;
    width: 75px;
}



.mobile-sidebar a {
 display: flex;
color: white;
text-decoration: none;
height: 100%;
justify-content: center;
align-items: center;
font-size: 12px;
width: auto !important;
padding-left: 10px;
padding-right: 10px;

 }

.mobile-logout {
 display: block;
 background-color: #333;
 font-size: 12px;
}

.logout-button {
 display: none;
}

 .mobile-sidebar {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  
height: 50px !important;
background-color: #333 !important;
width: 100%;
justify-content: space-evenly;
  }

  .mobile-container {
   display: flex;
   width: 100vw !important;
   background-color: #333;
   height: 100px;
   
  }

}











 
