.total {
 display: flex;
 margin-left: 20%;
 text-align: center;
}

.column {
 display: flex;
 width: 100%;
}

h2 {
 font-size: xx-large !important;
 
}

.row li  {
 flex-direction: column;
margin: 5px;
width: 300px;
border: 1px solid black;

}

.row li p {
 display: flex;
 font-size: 12px !important;
margin: 5px;
padding: 2px;
}

.due-date-container {
 display: flex;
 width: 100% !important;
justify-content: space-between;
}

.due-date {
justify-content: center;
padding: 2px;
background-color: yellow;
font-size: 15px !important;
}

.invoice-number {
 display: flex;
 padding: 2px;
 font-size: 12px !important;
}

.invoice-info {
 display: flex;
 flex-direction: column;
 width: 75%;
}

.total {
 justify-content: space-around;
}

.row {
 width: 300px;
 height: 100px;
}

.mark-button {
 display: flex;
 justify-content: flex-end;
 width: 100%;
}

button {
 padding: 5px;
 background-color: red;
 margin-right: 20px;
 margin-bottom: 5px;
}

.search-bar-div {
 margin-left: 20%;
 height: 300px;
 display: flex;
 justify-content: flex-end;
 align-items: center;
 flex-direction: column;
}

.search-bar-input {
 width: 300px;
}

.search-button-div {
 display: flex;
 width: 300px;
justify-content: end;
}
.search-results {
 display: flex;
 margin-left: 20%;
 margin-top: 50px;
 justify-content: center;
 flex-direction: column;
 align-items: center;
 margin-bottom: 50px;
}

.search-results li {
 flex-direction: column;
 margin: 5px;
 width: 300px;
 border: 1px solid black;
}

.search-results li p {
 display: flex;
 font-size: 12px !important;
margin: 5px;
padding: 2px;
}