

.profile {
 display: flex;
 height: 100vh;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}

.profile-Id {
 width: 40%;
 justify-content: left;
 align-items: left;
 text-align: left;
margin: 20px;
}


.profile-container {
 justify-content: center;
 align-items: center;

}

.logo-preview {
 height: 150px;
 margin: 20px;

}

.form1 {
 display: flex;
 align-items: center;
 justify-content: center;
 margin-left: 300px;
}

.fields {
 display: flex;
 width: 100%;
 align-items: center;
}

.labels {
 width: 100px;
}


.inputs1 {
 height: 100%;
 color: white;
}


.split3  {
 width: 100px;
}

.split3 p {
 font: bolder;
 font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


.columns-2 {
 display: flex;
 width: 100%;
 gap: 20px;
}

.logo-preview {
 height: 150px !important;
 width: 150px !important;

}

.parOffline {
 padding-top: 20px;
 padding-bottom: 20px ;
}

@media (max-width: 845px) {
 .profile {
  margin-top: 100px;
 }

.profile {
 display: flex;
 width: 100%;
 justify-content: center;
}

.profile h2 {
 margin: 0px !important;
}

.profile-Id {
 display: flex;
 flex-direction: column;
width: 100%;
align-items: center !important;
justify-content: center !important;
}

.columns-2 {
 justify-content: center;
 padding-bottom: 50px;
}

.form1 {
 margin-left: 0px;
}

.submit-button {
 margin-top: 20px;
}

}

@media (max-width: 335px) {

.profile {
 margin-top: 250px;
}

.columns-2 {
 font-size: 12px;
}

.split3 {
 width: 50px;
}

.fields {
flex-direction: column; 
align-items:flex-start ;
padding-bottom: 10px;
}

.submit-button {
 margin-bottom: 100px;
}

}