

.profile {
 display: flex;
 height: 100vh;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}

.profile-Id {
 width: 40%;
 justify-content: left;
 align-items: left;
 text-align: left;
margin: 20px;
}




.profile-container {
 justify-content: center;
 align-items: center;

}

.logo-preview {
 height: 150px;
 margin: 20px;

}

.form {
 display: flex;
 align-items: center;
 justify-content: center;
 margin-left: 300px;
}

.fields {
 display: flex;
 width: 100%;
 align-items: center;
}

.labels {
 width: 100px;
}


.inputs1 {
 height: 100%;
}