


.main-truck {
 display: flex;
 height: 100vh;
 justify-content: flex-end;
 align-items: center;
 padding-bottom: 5vh;
flex-direction: column;
}

.div3-truck {
 display: flex ;
 flex-direction: row;
 width: 70vw;
 justify-content: space-around;

}

.message {
 display: flex ;
 flex-direction: row;
 position: absolute;
top: 50%;
 justify-content: space-around;
 animation: growShrink 3s infinite ease-in-out;
}

@keyframes growShrink {
 0%, 100% {
   transform: scale(1);
 }
 50% {
   transform: scale(1.25); /* Adjust the scale value to control the grow/shrink effect */
 }
}


.green {
color: green;
}

.blue {
 color: rgb(2, 232, 224);
}

.truckImg {
height: 200px;
}

.startImg {
 height: 200px;
 animation: growShrink 3s infinite ease-in-out;
}

@keyframes growShrink {
 0%, 100% {
   transform: scale(1);
 }
 50% {
   transform: scale(1.25); /* Adjust the scale value to control the grow/shrink effect */
 }
}

.gasImg {
 height: 200px;
}

.button-title {
font-size: 50px;
}

.transparent {
 background-color: transparent;
}

.transparent:hover {
 background-color: transparent !important;
}

.stopped {
 animation: none;
 display: none;
}


