


.main-truck {
 display: flex;
 height: 100vh;
 justify-content: flex-end;
 align-items: center;
 padding-bottom: 5vh;
flex-direction: column;
}

.div3-truck {
 display: flex ;
 flex-direction: row;
 width: 70vw;
 justify-content: space-around;

}

.green {
color: green;
}

.blue {
 color: rgb(2, 232, 224);
}

.truckImg {
height: 200px;
}

.startImg {
 height: 200px;
}

.gasImg {
 height: 200px;
}

.button-title {
font-size: 50px;
}

.transparent {
 background-color: transparent;
}

.transparent:hover {
 background-color: transparent !important;
}


