.navbar-brand {
 width: 150px;
 height: 100px;
}

.navbar {
 background-color: rgba(255, 255, 255, 0) !important;
 opacity: 100%;
}

.nav-link {
 color: white!important;
 background-color: hsl(4, 100%, 49%);
 padding: 10px 20px !important;
}

.small-font {
 font-size: 20px;
}

.small-font:hover {
 background-color: #698f96;
 color: aliceblue !important;
 font-weight: bolder !important;
}


.navbar-toggler{
 background-color: #ff0000;
}

.navbar-toggler-icon{
background-image: url(../../assets/download.svg) !important;
}




.header1 {
 display: none !important;
}

@media (max-width: 768px) {
 .nav-item {
  width: 100vw;
  justify-content: end;
  
 }

 .navbar-text {
  display: flex !important;
  justify-content: center !important; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  width: 100vw;
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bolder;
}

.nav-link {
 background-color: transparent;
 color: black !important;
}



 #navbarCollapse {
  text-align: end;
 }


.navbar-text {
text-align: center;
justify-content: center;
align-items: center !important;
font-size: small;
}
.header1 {
 display: block !important;
}



}








 
